*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style:preserve-3d;
    z-index: -1;
}

.background{
    transform: translateZ(-40px) scale(6) ;
}
.background{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    

}

h1{
    position: absolute;
    top: 5rem;
    font-family: cursive;
    font-size: 8rem;
    color: whitesmoke;
    transform: translateX(-50);
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    letter-spacing: 4px;
}
.you{
    position: absolute;
    top: 14rem;
    font-family: cursive;
    font-size: 8rem;
    color: whitesmoke;
    transform: translateX(-50);
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    letter-spacing: 4px;
}
section{
    background-color: rgb(45,45,45);
    color: whitesmoke;
    padding: 5rem 0;
}

.secheading{
    font-size: 5rem;
    padding: 0 10rem;
}

.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 500px;
    background-size: cover;
    --mask:
    radial-gradient(50.40px at 50% 70.50px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
    radial-gradient(50.40px at 50% -40.5px,#0000 99%,#000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
    radial-gradient(50.40px at 50% calc(100% - 70.50px),#000 99%,#0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
    radial-gradient(50.40px at 50% calc(100% + 40.50px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);

}

.desc1{
    position: absolute;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 30%;
    font-family:cursive;
    color: black;
    background-color: antiquewhite;
    font-size: 3.5rem;
}

.desc2{
    position: absolute;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 20%;
    font-family:cursive;
    color: black;
    background-color: antiquewhite;
    font-size: 3.5rem;
}

.desc3{
    position: absolute;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 30%;
    font-family:cursive;
    color: black;
    background-color: antiquewhite;
    font-size: 3.5rem;
}

.desc4{
    position: absolute;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 20%;
    font-family:cursive;
    color: black;
    background-color: antiquewhite;
    font-size: 3.5rem;
}

.bg1{
    background-image: url(/Images/triund.jpg);
}
.bg2{
    background-image: url(Images/paragliding.jpg);
}
.bg3{
    background-image: url(/Images/skiing.jpg);
}
.bg4{
    background-image: url(/Images/rafting.jpg);
}
